.Parra {
  background-attachment: fixed;
  background-position: center;

  background-size: contain;
  max-width: 50%;
  max-height: 20%;
  z-index: 0;
}
.home {
  background-color: grey;
  color: white
}
body {
    background-color: black;
}

.head-text {
    position: relative;
 }
 .text-on-image {
   position: absolute;
   right: 50%;
   left: 10.5%;
   bottom: 75%;
   z-index: 2;
   color: tan;
   font-size: 40px;
 }
 .explore {
    position: absolute;
    right: 50.5%;
    z-index: 2;
    color: white;
    font-size: 40px;
    
 }
 b {
    color: tan; 
 }
 a:hover, a:visited, a:link, a:active
 {
     text-decoration: none;
 }