.Parra {
  width: 50vw;
  height: 40vh 40vw;
  z-index: 0;
  padding-left: 4vw;
  padding-top: 20px;
  /* add sliding transition */
}
.home {
  background-color: tan;
  color: Black;
  display: grid;
  place-items: center;
}
.home h1 {
  margin: 0;
  padding: 0;
}
.home p {
 justify-content: center;
 margin-bottom: 100px;
 bottom: 20px;
}

body {
  background-color: tan;
  width: 100%;
}

.text-on-image {
 position: relative;
  right: 40%;
  left: 9.5%;
  z-index: 2;
  color: tan;
  font-size: 1.8vw;
  text-shadow: 0px 0px 2px black;
}
.explore {
  position: relative;
  left: 0.7%;
  z-index: 2;
  color: white;
  font-size: 2vw, 2vh;
  text-shadow: 0px 0px 2px black;
}
b {
  color: tan;
}
a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}
/* @media screen and (max-width: 768px){
  .text-on-image {
    font-size: 10px;
  }
} */

.jp2 {
  width: 50vh;
  height: 40vw, 40vh;
}

